biblioteca/biblioteca/Service References/ServiceReference1/WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultalibro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultalibroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultalibroResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultasocio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultasocioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultasocioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarsocio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarsocioResponse">
        <s:complexType />
      </s:element>
      <s:element name="eliminarsocio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarsocioResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="consultalibroSoapIn">
    <wsdl:part name="parameters" element="tns:consultalibro" />
  </wsdl:message>
  <wsdl:message name="consultalibroSoapOut">
    <wsdl:part name="parameters" element="tns:consultalibroResponse" />
  </wsdl:message>
  <wsdl:message name="consultasocioSoapIn">
    <wsdl:part name="parameters" element="tns:consultasocio" />
  </wsdl:message>
  <wsdl:message name="consultasocioSoapOut">
    <wsdl:part name="parameters" element="tns:consultasocioResponse" />
  </wsdl:message>
  <wsdl:message name="insertarsocioSoapIn">
    <wsdl:part name="parameters" element="tns:insertarsocio" />
  </wsdl:message>
  <wsdl:message name="insertarsocioSoapOut">
    <wsdl:part name="parameters" element="tns:insertarsocioResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarsocioSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarsocio" />
  </wsdl:message>
  <wsdl:message name="eliminarsocioSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarsocioResponse" />
  </wsdl:message>
  <wsdl:portType name="WSSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultalibro">
      <wsdl:input message="tns:consultalibroSoapIn" />
      <wsdl:output message="tns:consultalibroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultasocio">
      <wsdl:input message="tns:consultasocioSoapIn" />
      <wsdl:output message="tns:consultasocioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarsocio">
      <wsdl:input message="tns:insertarsocioSoapIn" />
      <wsdl:output message="tns:insertarsocioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarsocio">
      <wsdl:input message="tns:eliminarsocioSoapIn" />
      <wsdl:output message="tns:eliminarsocioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSoap" type="tns:WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultalibro">
      <soap:operation soapAction="http://tempuri.org/consultalibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultasocio">
      <soap:operation soapAction="http://tempuri.org/consultasocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarsocio">
      <soap:operation soapAction="http://tempuri.org/insertarsocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarsocio">
      <soap:operation soapAction="http://tempuri.org/eliminarsocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSSoap12" type="tns:WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultalibro">
      <soap12:operation soapAction="http://tempuri.org/consultalibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultasocio">
      <soap12:operation soapAction="http://tempuri.org/consultasocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarsocio">
      <soap12:operation soapAction="http://tempuri.org/insertarsocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarsocio">
      <soap12:operation soapAction="http://tempuri.org/eliminarsocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS">
    <wsdl:port name="WSSoap" binding="tns:WSSoap">
      <soap:address location="http://localhost:5910/WS.asmx" />
    </wsdl:port>
    <wsdl:port name="WSSoap12" binding="tns:WSSoap12">
      <soap12:address location="http://localhost:5910/WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>